body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #333;
    text-align: center;
    justify-content: center;
    color: white;
    scroll-behavior: smooth;
    align-items: center;
    overflow-x: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    font-weight: bold;
    position: relative;
    top: 15px;
}

a {
    font-size: 20px;
}

p {
    font-size: 20px;
}

hr {
    width: 89%;
    margin-top: 30px;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
}

.hidden {
    display: none;
}